/*  Estilos generales  */
body{
    background-color: #333333!important;
    height: 100%;
}

.fixed-top{
    height: 55px!important;
}

  /* hide mobile version by default */
  .logo .mobile {
    display: none;
  }

/* when screen is less than 600px wide
    show mobile version and hide desktop */
    @media (max-width: 600px) {
    .logo .mobile {
        display: block;
    }
    .logo .desktop {
        display: none;
    }
    }

.logo{
    height:40px;
    width: 111px;
    line-height: 90px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.peque{
    height:"30px";
     width:"30px";
}
@font-face {
    font-family: NetflixSans;
    src: url(./fonts/NetflixSans_W_Bd.woff2);
    font-family: NetflixSansL;
    src: url(./fonts/NetflixSans_W_Lt.woff);
    font-family: NetflixSansM;
    src: url(./fonts/NetflixSans_W_Md.woff);
    font-family: Eu1;
    src: url(./fonts/KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
    font-family: Eu2;
    src: url(./fonts/KFOmCnqEu92Fr1Mu4mxK.woff2)
  }



.global-header .logo {
    background-position: 50%;
    display: block;
    float: left;
    height: 32px;
    margin-right: 33px;
    position: relative;
    width: 88px;

}
.netflix-sans-font-loaded {
    font-family: NetflixSans, NetflixSansL, NetflixSansM, Eu1, Eu2;
}
::selection {
    background: #4c4948;
    color: #fff;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.541)!important;
    text-decoration: none;
    color: white;
    font-size: 15px;
 /*   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -webkit-box-direction: normal;
    direction: ltr;
}
.nav{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-left: 30px;
        
}
.nav-link{
    color: rgba(255,255,255,255)!important;
  
}
a {
    color: #e50914;
    font-weight: 700;
    text-decoration: none;
}
ul{
    list-style: none;
    display: inline-flex;
    font-weight: bolder;
    background-color: transparent;
    border-bottom: .25rem solid white;
    padding: .25rem 0;
    font-weight: bold;

}

.section-hero .hero-image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display:none;
    background-image:url(https://occ-0-1934-360.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABaxQfl_5We5XTtq_7vNpAcdh64qzBOjq826WdWRyPlyqQfmLev57l8t6bXL_tQKkxBfCLO8OL1Icjh9rveyKAxXOFPH9.jpg);  
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 1;
    height: 0;
    padding-bottom: 55%;
   
    
}
.search-profile{
    display: flex;
}