#navigation-bar{
    height: 60px;

}
.col{
    border: 1px solid black;
}

.box4{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

#logo{
    background-color: brown;
}

#menu-ppal{
 background-color: cadetblue; 
}

#void{
    background-color: dimgrey;
}

#menu-user{
    background-color: goldenrod;
}

.ss-pxh{
    height: 60px;
}

.wh{
    color:white!important;
    align-items: center;
    margin-bottom: 0px;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 400;
    line-height: -0.5;
}


#search-form{
    visibility: hidden;
}

.hide{
    opacity: 0;
    max-height: 0;

}

#trigger{
  position: relative;
  left: -999em;
}

#ct{
    display: inline-flex;
    align-items: center; 
}

input{
    max-height: 99em;
    opacity: 70%;

    height: auto;
    overflow: hidden;
    margin-right: 0px;
    border-radius: 1%;
}

#ct input[type="checkbox"]:checked + div{
  max-height: 99em;
  opacity: 70%;
  height: auto;
  overflow: hidden;
  margin-right: 0px;
  border-radius: 1%;
}

::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.lft{
    align-content: flex-end;
}

.sp{
    margin-right: 20px;  
}

.pdlf {
    padding-left: 5px;
    align-items: center;
}

.bd{
    font-weight: bolder;
}

.toleft{
    height: 38px;
    width: 6px;
    left: -60px!important;
  
}

.toright{
    padding-right: 0px!important;
    padding-left: 0px;
}

