table{
    height: 600px;
    width: 600px;
    border:1px solid black;
}

th{
    color: blue;
    height: 50px;
    width: 50px;
    border:1px solid black;
}
td{
    color: green;
    height: 50px;
    width: 50px;
    border:1px solid black;
}

.blue{
    background-color: blue;
}
.green{
    background-color:green;
}
.gold{
    background-color: gold;
}
.silver{
    background-color: silver;
}
.gradient{
    background: linear-gradient(red,orange) ;
}
.red{
    background-color: red;
}



