<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="/javascripts/button.js"></script>
    <title>Codifica HOME</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-lg" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" href="/"><img src="/images/logo_codifica.svg"></a>

        <!-- Collapse button -->
        <button class="navbar-toggler first-button " type="button" data-toggle="collapse" data-target="#navbarSupportedContent20"
                aria-controls="navbarSupportedContent20" aria-expanded="false" aria-label="Toggle navigation">
            <div class="animated-icon1"><span></span><span></span><span></span></div>
        </button>
        <div
                class="collapse navbar-collapse" id="navbarSupportedContent20">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"></li>
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger blueC" href="login">LOGIN</a></li>
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger orangeC" href="register">REGISTRO</a>
                <li role="presentation" class="nav-item"><a class="nav-link js-scroll-trigger blueC" href="users">USUARIOS</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
<div class="masthead"
     style="background:url('./images/bg-pattern.png'), linear-gradient(to left, #160f1e, #000000);height:100%;">
    <div class="container h-100 he-770">
        <div class="row h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-12 col-xl-10">
                        <div class="card shadow-lg o-hidden border-0 my-5">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-lg-6 d-none d-lg-flex">
                                        <div class="flex-grow-1 bg-login-image" style="background-image: url('./images/lanzatucarrera.svg');"></div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h4 class="text-dark mb-4">Preparados para el viaje!!</h4>
                                            </div>
                                            <form class="user">
                                                <div class="form-group"><input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Aquí va tu dirección..." name="email" /></div>
                                                <div class="form-group"><input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" name="password" /></div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox small">
                                                        <div class="form-check"><input type="checkbox" class="form-check-input custom-control-input" id="formCheck-1" /><label class="form-check-label custom-control-label text-dark" for="formCheck-1">Recuérdame</label></div>
                                                    </div>
                                                </div><button class="btn btn-primary btn-block text-white btn-user" type="submit">Login</button>
                                                <hr /><a class="btn btn-danger btn-block text-white btn-google btn-user" role="button"><i class="fa fa-google"></i>  Login con Google</a>
                                                <a class="btn btn-primary btn-block text-white btn-facebook btn-user" role="button"><i class="fa fa-facebook-f"></i>  Login with Facebook</a>
                                                <hr
                                                />
                                            </form>
                                            <div class="text-center"><a class="small text-dark" href="forgot-password.html">Recuperar Password</a></div>
                                            <div class="text-center"><a class="small text-dark" href="register.html">Crear una Cuenta</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<!--Footer -->
<footer class="footer bg-dark mtp">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-auto h-100 text-center text-lg-left orangeC">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">Conócenos</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Contacto</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Terminos de  Uso</a></li>
                    <li class="list-inline-item"><span>⋅</span></li>
                    <li class="list-inline-item"><a href="#">Politica de Privacidad</a></li>
                </ul>
                <p class="text-muted miniFont mb-4 mb-lg-0 ">© Codifica 2020. Óscar Terrés.</p>
            </div>
            <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-github fa-2x fa-fw"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!--Footer  End-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>