<html>
<head>

    <title><%=(locals.title) ? title :''%></title>

</head>
<body>

<h2>Login Usuario<h2>
        <p><a href="../users/" >Apartado Usuarios</p>
        <p><a href="../admin_users/" >Apartado Admin</p>
</body>

</html>