
body{
  background:linear-gradient(to left, #160f1e, #000000);
  color: white;
  text-align: center !important;
}
.he-770{
  height: 80vh !important;
}

.orangeC li, a, p{
  color:rgb(252, 190, 15) !important;
  font-size: 12px;
}
.miniFont{
  font-size: 10px;
}
.blueC{
  color:rgb(204, 238, 245) !important;
}
.bg-dark{
  background-color: transparent !important;
}

.mbott{
  margin-bottom: 50px !important;
}

.mtp{
  margin-top: 20px !important;
}
.blaki{
  color: black !important;
}
.turki{
  color:#34ca9d !important;
  font-weight: 500;
}

.fa-2x {
  font-size: 1.5em !important;
}
.confirm{
  height: 30vh;
}
.px12O{
  font-size: 12px;
}

