.link {
    color:deepskyblue;
    /*Cambiar color a la primera etiqueta <a> </a> y quitar la propiedad que la subraya*/
    text-decoration: none;
} 
ul{
    list-style:none;
}
.lista li{
    color:red;
}
.cuadrado1{
    width:150px;
    height:150px;
    background-color:gold;
}
.cuadrado2{
    width:50%;
    height:50%;
    background-color:red;
}
.cuadradoGrande{
    width: 100vw;
    height: 100vh;
    background-color:green;
}