<!DOCTYPE html>
<html>
<head>
    <title>Login</title>


</head>
<body>

<form action="/users/login" method="post">
    <input type="text" name="name">
    <input type="text" name="password">
    <input type="submit" value="Pulsar para crear token">
</form>
</body>
</html>
