<html>
<head>

  <title><%=(locals.title) ? title :''%></title>

</head>
<body>

<h2>Home<h2>
    <p><a href="./user/" >Registro Usuario</p>
        <p><a href="./login/" >Login Usuario</p>
</body>

</html>