.block{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
}
.block span{
    color: white;
/* poner elementos en block en bloque (columna o vertical) */
.span1{
    display: block;
}
.span3{
    display: block;
}